/*––––––––––––––––––––

	Made by MrBoomDev in 2022
	
	Discord: https://bit.ly/mrboomdevds
	YouTube: https://bit.ly/mrboomdevyt
	VKontake: https://bit.ly/mrboomdevvk
	
––––––––––––––––––––*/

/*Variables*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
	--text: #FAFAFA;
	--link: #F2E6FF;
	--category: #FFE6FF;
	--primary: #D05EFC;
	--card: #140A23;
	--card-active: #1D112F;
	--shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	--background: #11071F;
	--panel: rgba(0, 0, 0, .1);
}

/*Global*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::selection {
	color: var(--link);
	background-color: rgba(102, 0, 204, .5);
}
.reveal {
	opacity: 0;
	transition: 1s;
}

/*Text Widgets*/

h1, h2, h3, h4, h5, h6, a, p, li, label, span, button {
	font-family: sans-serif;
	text-decoration: none;
	list-style-type: none;
	color: white;
	-webkit-tap-highlight-color: transparent;
}
a:not(hover) {
	color: var(--link);
}
h1 {
	font-family: 'Lato', sans-serif;
}
h2 {
	color: var(--category);
}
p {
	color: var(--text);
}
button.neon {
	padding: .8em 2em;
	border: solid var(--primary) 1px;
	border-radius: 2px;
	font-size: 1em;
	color: var(--primary);
	background-color: rgba(17, 7, 31, .4);
	transition: .2s;
}
button.neon:hover:not(:disabled) {
	color: black;
	background-color: var(--primary);
	transform: scale(.95);
}
button.neon:disabled {
	opacity: .75;
}
.tag {
	display: inline-block;
	margin: .4em .2em;
	padding: .6em 1em;
	font-size: .8em;
	font-weight: 400;
	border-radius: 5px;
	box-shadow: var(--shadow);
	background-color: var(--card-active);
	text-align: center;
}
.tag:first-child {
	margin-left: 0;
}

/*Custom Widgets*/

.card {
	box-shadow: var(--shadow);
	background-color: var(--card);
	border-radius: .3rem;
}
.card h3 {
	font-family: 'Lato', sans-serif;
}
.card p {
	margin-top: .4em;
	font-size: .8em;
	line-height: 1.4;
}
.card.clickable {
	transition: .3s;
}
.card.clickable:hover {
	background-color: var(--card-active);
	transform: scale(0.95);
}
.card.small {
	padding: 1rem;
	transition: .2s;
}
.card.small .about {
	display: inline-block;
}
.card.small p {
	float: left;
	margin-top: .3em;
	font-size: 0.9em;
}
.card.layers {
	border: solid var(--card) .2rem;
	position: relative;
}
.card.layers > img, img.card.layers {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: .3rem;
}
.card.layers .shadow {
	position: absolute;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0) 25%,
		var(--background) 100%
	);
	height: 100%;
	width: 100%;
	z-index: 0;
	top: 0;
}
.card.layers .about {
	padding: 1rem;
	position: absolute;
	bottom: 0;
}

.switch {
	position: relative;
	width: 3.6em;
	height: 2em;
}
.switch input {display: none }
.slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--card-active);
	transition: .2s;
	border-radius: 1em;
}
.slider:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.6em;
	left: 4px;
	bottom: 4px;
	background-color: var(--link);
	border-radius: 50%;
	transition: .2s;
}
input:checked + .slider { background-color: var(--primary) }
input:checked + .slider:before {
	transform: translateX(95%);
	background-color: black;
}

#messages {
	position: fixed;
	z-index: 999;
	right: 1rem;
	bottom: 1rem;
}
#messages > div {
	width: 15rem;
	max-height: 0;
	transform: translateX(150%);
	transition: 1s, opacity .2s, transform .3s, margin .4s;
}
#messages > div.active {
	max-height: 999px;
	margin-top: .3rem;
	transform: translateX(0);
}
#messages textarea {
	margin-top: 1em;
	background: black;
	color: white;
	height: min(50vh, 20rem);
	width: 120%;
}

/*Layouts*/

html {
	background-color: var(--background);
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}
body {
	background-color: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
}
header, aside, footer {
	background-color: var(--panel);
}